.body{
    background-color: #232323;
}
.navbar{
    background-position: center !important; /* A kép középre igazítva */
    background-repeat: no-repeat !important; /* A kép nem ismétlődik */
    height: 80px !important; /* Navbar magassága */
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: 3px solid #D9D9D9;
}
.navbar a{
    font-size: 30px !important;
    margin-left: 20px !important;
}
.navbar .navbar-nav {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap; /* Ha nem fér el, törjön új sorba */
    gap: 5vw; /* A fix 200px helyett, így a kijelző méretéhez igazodik */
  }
  @media (max-width: 992px) { /* Tabletek és mobilok */
    .navbar .navbar-nav {
      flex-direction: column; /* A menüpontok egymás alá kerülnek */
      align-items: center;
      gap: 10px; /* Kisebb távolság a menüpontok között */
    }
  
    .navbar-brand img {
      width: 50px; /* Kisebb ikonméretek */
    }
  }
  
  @media (max-width: 768px) { /* Telefonok */
    .navbar {
      height: auto !important;
    }
  
    .navbar-toggler {
      display: block; /* A hamburger menü megjelenítése */
    }
  
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
  
    .logo {
      height: 50px !important;
    }
  }
  @media (max-width: 768px) {
    .body {
      background-size: contain; /* Kisebb kijelzőkhöz optimalizált háttér */
    }
  }
.logo{
    border-radius: 10% !important; /* A kép lekerekítése */
    height: 70px !important; /* A kép magassága */
    }
.kosarlogo{
    width: 80%;
}
.kedvenclogo{
    width: 67%;
}
.navbar-nav {
    display: flex;
    margin: auto;
}
.navbar-brand{
    color: white;
}

.kosarlogo{
    width: 50%;
}
.card{
    border: 2.5px solid #C14A17;  /* 2px vastag, fekete színű keret */
    padding: 10px;  /* Extra tér a szöveg körül */
    background-color: #232323;
    color: white;
    width: 320px!important;
    height: 450px !important;
   ;
    }
    .kep{
    padding: 10px;  /* Extra tér a szöveg körül */
    height: 207px;
    background-color: white;
    height:300px ;
    width: 280px; ;
    display: block;
    }
    .ár{
        text-align: left;
    }
    .nev{
        text-align: left;
    }
    .haromkep{
        display: flex;
        justify-content: center;
        padding: 50px;
        margin-right: 60px;
        margin-top: 160px;
        margin-left: 60px;
        
    }
.beretta{
    margin-right: 50px;
}
.glock{
    margin-right: 50px;
}
.desert{
    margin-right: 50px;
}

.megoldas{
  display:flex;
  align-items: center;

}
.egybe{
 float: right;
}
